@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* Variables */
:root {
    --primary-color: #282e86;
    --secondary-color: #1b206e;
}

* {
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    margin: 0;
    padding: 0;
    transition: .5s;
    overflow-x: hidden;
}

/* BASE STYLES */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #29308a 60%, #282e86 40%);
    padding: 0 2% 2%;
}

header {
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header i.fa-close,
header i.fa-sliders {
    display: none;
}

.navList,
.socialList {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.socialList {
    position: fixed;
    top: 40vh;
    right: -2%;
    width: auto;
    transform: rotate(270deg);
    box-shadow: -2px -2px 10px black;
}

.socialList li a i {
    padding: 1% 2%;
    font-size: xx-large;
    border-radius: 0;
}

.socialList li:nth-child(1) a i {
    background-color: blue;
}

.socialList li:nth-child(2) a i {
    background-color: red;
}

.socialList li:nth-child(3) a i {
    background-color: skyblue;
}

.socialList li a i:hover {
    background: black;
}

.navList img {
    display: none;
}

.navList a {
    text-decoration: none;
    padding: 10% 12%;
    border: 1.5px solid var(--primary-color);
}

.navList a:hover {
    background-color: var(--primary-color);
    border: 1.5px solid black;
}

.live {
    background-color: var(--primary-color);
    border: 1.5px solid black;
}

.live:hover {
    background-color: transparent;
}

h1 {
    font-size: 30px;
    font-weight: 500;
}

p {
    margin: 20px 0 10px;
    font-size: 1.1rem;
}

section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    margin-top: 60px;

}

.title {
    text-align: center;
}

a {
    text-decoration: none;
    color: unset;
}


.logo {
    width: 15%;
    height: 60px;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* SERVICES BOX */
.serviceSection {
    margin-top: 3%;
    height: 100%;
}

.services {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    text-align: center;
}

.services .service {
    padding: 30px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    box-shadow: 0 10px 30px #00000059;
}

.services .service:hover {
    transition: all .5s ease-in-out;
    transform: scale(90%);
    box-shadow: 0 10px 30px #00000093;
}

.services .service h2 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    color: var(--secondary-color);
}

.services .service .icon img {
    max-width: 100px;
}

/* WORK PAGE */
.workSection {
    margin-top: 10rem;
}

.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.portfolio .item {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
}

.portfolio .item img {
    width: 100%;
    height: 100%;
}

.portfolio .item .action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}

.portfolio .item:hover .action {
    opacity: 1;
}

.portfolio .item .action a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 15px;
}

/* CONTACT */
.contactSection {
    margin-top: 10rem;
}

.contact {
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form {
    position: relative;
    background-color: #f9f9f9;
    width: calc(100%-400px);
    padding: 60px 40px 20px;
}

.contact-form form {
    width: 100%;
}

.contact-form .row {
    width: 100%;
    display: flex;
}

.contact-form .input50 {
    width: 50%;
    margin: 0 10px;
}

.contact-form .input100 {
    width: 100%;
    margin: 0 10px;
}

.contact-form .row input,
.contact-form .row textarea {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #111;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
    resize: none;
}

.contact-form .row textarea {
    height: 150px;
}

.contact-form .row input[type='submit'] {
    background-color: var(--secondary-color);
    color: white;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

.contact-info {
    width: 350px;
    background: #f9f9f9;
    padding: 60px 40px 20px;
}

.contact-info .info-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
    width: 20px;
    margin-right: 40px;
}

.contact-info .info-box .details h4 {
    color: var(--secondary-color);
}

.contact-info .info-box .details a,
.contact-info .info-box .details p {
    color: #111;
}

.info-box .details a:hover {
    text-decoration: underline;
}

@media(max-width: 1068px) {

    section {
        padding: 100px 40px;
    }

    .services {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    .contact {
        flex-direction: column;
    }

    .contact-form {
        width: 100%;
        padding: 30px 30px 20px;
    }

    .contact-info {
        width: 100%;
        margin-top: 20px;
        padding: 30px 30px 20px;
    }

}

@media (max-width: 768px) {
    p {
        font-size: 1rem;
    }

    .logo {
        width: 20%;
        height: 50px;
    }

    .navList {
        width: 75%;
    }

    .socialList {
        right: -4%;
    }



    .services {
        grid-template-columns: 1fr;
    }

    .services .service {
        margin: 0 auto;
        width: 90%;
        font-size: small;
        padding: 10px;
    }

    .contact-form .row {
        flex-direction: column;
    }

    .contact-form .input50,
    .contact-form .input100 {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 520px) {
    .socialList {
        right: -7%;
    }
}

@media (max-width: 425px) {

    header i.fa-close,
    header i.fa-sliders {
        display: block;
        font-size: x-large;
        cursor: pointer;
    }

    .navList {
        position: fixed;
        transform: translateX(-100%);
        flex-direction: column;
        justify-content: flex-start;
        top: 0;
        left: 0;
        border-radius: 0;
        height: 100%;
        background-color: #000000ec;
    }

    .navList img {
        display: block;
        margin: auto;
    }

    .navList li,
    .navList a {
        text-align: center;
        display: block;
        margin: 2% auto;
        width: 100%;
        padding: 2% 3%;
    }

    .logo {
        width: 35%;
    }

    .contact-info .info-box .details a,
    .contact-info .info-box .details p {
        color: #111;
        font-size: 0.5rem;
    }
}