@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* Variables */
:root {
    --primary-color: #282e86;
    --secondary-color: #1b206e;
}

* {
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    margin: 0;
    padding: 0;
    transition: .5s;
}

html {
    scroll-behavior: smooth;
}

/* BASE STYLES */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #29308a 60%, #282e86 40%);
    padding: 0 2% 2%;
}

body.stop-scrolling {
    overflow: hidden;
}

header {
    z-index: 5;
    border-radius: 0;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    inset: 0 0;
    background-color: #282e86;
}

header i.fa-close,
header i.fa-sliders {
    display: none;
}

.navList,
.socialList {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.socialList {
    position: fixed;
    top: 40vh;
    right: -2%;
    width: auto;
    transform: rotate(270deg);
    box-shadow: -2px -2px 10px black;
}

.socialList li a i {
    padding: 1% 2%;
    font-size: xx-large;
    border-radius: 0;
}

.socialList li:nth-child(1) a i {
    background-color: blue;
}

.socialList li:nth-child(2) a i {
    background-color: red;
}

.socialList li:nth-child(3) a i {
    background-color: skyblue;
}

.socialList li a i:hover {
    background: black;
}

.navList img {
    display: none;
}

.navList a {
    text-decoration: none;
    padding: 10% 12%;
    border: 1.5px solid var(--primary-color);
}

.navList a:hover {
    background-color: blue;
    border: 1.5px solid black;
}

.live {
    background-color: blue;
    border: 1.5px solid black;
}

.live:hover {
    background-color: transparent;
}

h1 {
    font-size: 30px;
    font-weight: 500;
}

p {
    margin: 20px 0 10px;
    font-size: 1.1rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
}

a {
    text-decoration: none;
    color: unset;
}


.logo {
    width: 15%;
    height: 60px;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* WORK PAGE */
.workSection {
    margin-top: 10rem;
}

.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.portfolio .item {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
}

.portfolio .item img {
    width: 100%;
    height: 100%;
}

.portfolio .item .action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}

.portfolio .item:hover .action {
    opacity: 1;
}

.portfolio .item .action a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 15px;
}


@media(max-width: 1068px) {

    .contact {
        flex-direction: column;
    }

    .contact-form {
        width: 100%;
        padding: 30px 30px 20px;
    }

    .contact-info {
        width: 100%;
        margin-top: 20px;
        padding: 30px 30px 20px;
    }

}

@media (max-width: 768px) {
    p {
        font-size: 1rem;
    }

    .logo {
        width: 20%;
        height: 50px;
    }

    .navList {
        width: 75%;
    }

    .socialList {
        right: -4%;
    }

    .contact-form .row {
        flex-direction: column;
    }

    .contact-form .input50,
    .contact-form .input100 {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 425px) {

    header i.fa-close,
    header i.fa-sliders {
        display: block;
        font-size: x-large;
        cursor: pointer;
    }

    .navList {
        position: fixed;
        transform: translateX(-100%);
        flex-direction: column;
        justify-content: flex-start;
        top: 0;
        left: 0;
        border-radius: 0;
        height: 100%;
        background-color: #000000ec;
    }

    .navList img {
        display: block;
        margin: auto;
    }

    .navList li,
    .navList a {
        text-align: center;
        display: block;
        margin: 2% auto;
        width: 100%;
        padding: 2% 3%;
    }

    .logo {
        width: 35%;
    }

    .contact-info .info-box .details a,
    .contact-info .info-box .details p {
        color: #111;
        font-size: 0.5rem;
    }
}